.fundo-aventura {
  width: 400px;
  height: 300px;
  background-image: url("../assets/pergaminho.png");
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
}

.subtitulo_aventura {
  font-family: "MedievalSharp", cursive;
  font-size: 36px;
  color: black;
  text-shadow: none;
}

.fundo-aventura p {
  font-family: "MedievalSharp", cursive;
  font-size: 36px;
  color: black;
  font-style: bold;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  gap: 20px;
}

.play-icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.edit-icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.delete-icon {
  width: 40px;
  height: 45px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .fundo-aventura {
    width: 300px;
    height: 300px;
  }
  .subtitulo_aventura,
  .fundo-aventura p {
    font-size: 22px;
  }
  .play-icon { width: 50px; height: 50px; }
  .edit-icon { width: 40px; height: 40px; }
  .delete-icon { width: 30px; height: 35px; }
}
