.aventura-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fundo-aventura {
  width: 400px;
  height: 300px;
  background-image: url("../assets/pergaminho.png");
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
 /* espaço para as estrelas fora do pergaminho */}

.subtitulo_aventura {
  font-family: "MedievalSharp", cursive;
  font-size: 36px;
  color: black;
  text-shadow: none;
}

.fundo-aventura p {
  font-family: "MedievalSharp", cursive;
  font-size: 36px;
  color: black;
  font-style: bold;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  gap: 20px;
}

.play-icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.edit-icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.delete-icon {
  width: 40px;
  height: 45px;
  cursor: pointer;
}

.rating-stars-below {
  display: inline-flex;
  gap: 6px;
  user-select: none;
}

.rating-stars-below .star {
  font-size: 30px;
  line-height: 1;
  color: #C68700; /* dourado temático */
  opacity: 0.9;
}
