.header-aluno-container {
  height: 60px;
  width: 100%;
  background-color: #000000;
  color: rgb(247, 182, 5);
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
