/* Container principal da sala */
.sala-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  font-family: "Georgia", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.btn-opcao:hover {
  filter: brightness(1.2); /* aumenta o brilho ao passar o mouse */
  transform: scale(1.05);  /* opcional: dá efeito de aumento */
  transition: all 0.2s ease; /* suaviza a animação */
}


/* Botão de encerrar aventura */
.btn-encerrar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* Conteúdo central */
.conteudo-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%; /* ocupa toda a altura disponível */
}


/* Título e subtítulo */
.titulo {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--titulo);
  font-family: 'MedievalSharp', cursive;
}

.subtitulo {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #000000;
}

/* Quadro com fundo preto transparente */
.quadro-transparente {
  background-color: rgba(0, 0, 0, 0.6); /* fundo preto com transparência */
  border-radius: 8px;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


}

/* Texto da pergunta */
.texto-placeholder {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Container das opções em grid */
.opcoes-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas iguais */
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

/* Botões de opção */
.btn-opcao {
  padding: 1rem 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 100%; /* ocupa toda a largura da célula */
}

/* Cores dos botões */
.btn-opcao.red {
  background-color: var(--alternativa_vermelha);
}

.btn-opcao.yellow {
  background-color: var(--alternativa_amarela);
}

.btn-opcao.green {
  background-color: var(--alternativa_verde);
}

.btn-opcao.blue {
  background-color: var(--alternativa_azul);
}

/* Rodapé */
.rodape {
  text-align: center;
  font-size: 0.9rem;
  color: white;
  margin-top: auto;
}
