.container-sala {
  background: url("../assets/fundo-parede.png") center/cover no-repeat;
  min-height: 100vh;
  color: #fff;
  font-family: "MedievalSharp", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1px;
}

.logo {
  font-size: 1.8rem;
  color: #0a68ff;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quadro {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 700px;
}

.quadro h1 {
  color: var(--titulo);
  margin-bottom: 10px;
}

.quadro h2 {
  color: var(--subtitulo);
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.quadro p {
  margin-bottom: 20px;
}

.imagem-enigma {
  width: 100%;
  max-width: 400px;
  height: 200px;
  background-color: #222;
  border-radius: 10px;
  margin: 0 auto 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imagem-enigma img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
