input {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  width: 100%;
  background-color: var(--input_amarelo);
  color: white;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 10px;
}

::placeholder {
  color: white;
}

.btn-entrar-aventura {
  background-color: var(--azul);
  color: #ffffff;
  padding: 12px;
  font-family: "MedievalSharp", cursive;
  border-radius: 20px ;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-entrar-aventura-container {
  margin-top: 30px;
}

.titulo-aventura {
  font-size: 1.5rem;
  color: var(--titulo);
  text-align: center;
  margin-bottom: 20px;
}

.nomePersonagem {
  font-size: 1.1rem;
  margin-top: 15px;
  font-family: "MedievalSharp", cursive;
}
