input {
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    width: 100%;
    background-color: #b48326;
    color: white;
    box-sizing: border-box;
    font-size: 1rem;
}

::placeholder {
    color: white;
}

.btn-entrar-aventura {
    background-color: #007BFF;
    color: #ffffff;
    padding: 12px;
    font-family: 'MedievalSharp', cursive;

}

.btn-entrar-aventura-container {
    margin-top: 30px;
}

.titulo-aventura {
  font-size: 1.5rem;
  color: #c68700;
  text-align: center;
  margin-bottom: 20px;
}
