.escolher-classe-container {
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("/imagens/fundo-parede.jpg") center/cover no-repeat;
  color: #c68700;
  font-family: "Cinzel", serif;
}

.escolher-classe-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 85%;
  max-width: 900px;
  background: rgba(0, 0, 0, 0.6); /* quadro preto translúcido */
  border-radius: 20px;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  color: var(--titulo);
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
  text-shadow: 0 0 6px #000;
  font-family: "MedievalSharp", cursive;
}

h2 {
  color: var(--subtitulo);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 6px #000;
  font-family: "MedievalSharp", cursive;
}

.classes-opcoes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.classe-card {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;
}

.classe-card.selecionada {
  opacity: 1;
  transform: scale(1.05);
}

.classe-card img {
  width: 130px;
  height: 180px;
  object-fit: contain;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.input-habilidade {
  flex: 1;
  background-color: var(--alternativa_amarela); /* dourado translúcido */
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: "MedievalSharp", cursive;
  margin-top: -2px;
  font-size: 1.2rem;
}

.input-habilidade::placeholder {
  color: #ffffff;
  font-family: "MedievalSharp", cursive;
}

.btn-confirmar {
  background-color: var(--azul);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: "MedievalSharp", cursive;
}

.btn-confirmar:hover {
  background-color: #3a65e2;
}

.titulo-aventura {
  font-size: 2.2rem;
  color: var(--titulo);
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  padding: 10px;
}
