.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  position: relative;
  padding: 20px;
}

.scroll-title {
  font-family: "MedievalSharp", cursive;
  color: #231910;
}

.img-pergaminho {
  width: 100%;
  max-width: 700px;
  min-height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem;
  color: #231910;
  box-sizing: border-box;
  padding: 120px;
  text-align: center;
}

.signup-button {
  font-family: "MedievalSharp";
  padding: 12px 35px;
  background-color: #c68700;
  font-size: 22px;
  color: #070707;
  border: 2px solid #1a1a1a;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.signup-button:hover {
  transform: scale(1.05);
}
@media (max-width: 712px) {

  .home-container {
    padding: 10px; 
  }

  .img-pergaminho {
  
    padding: 70px 45px 50px 45px;
    

    min-height: auto;

    
    background-size: 100% 100%;

    
    width: 100%;
  }

  .scroll-title {
    font-size: 1.4rem; 
    margin-bottom: 10px;
  }

  .scroll-text {
    font-size: 0.80rem; 
    line-height: 1.6;
    margin-left: 5%;
    width: 90%;
    text-align: justify;
  }

  .signup-button {
    font-size: 1.1rem; 
    padding: 10px 30px;
    margin-top: 20px;
  }
}