
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box; 
}

html {
  background-color: #000000;
}

body {
  min-height: 100vh; 
  font-family: Arial, sans-serif; 
  

}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}